@{
    ViewBag.Title = "About";
}
<h2>O nama.</h2>
<h4>
    Aplikacija ima ulogu da pojednostavi i pomogne radnom osoblju doma i studentima, da bi se omogućio što lakši i brži rad. Korisnik ima razne
    pogodnosti, ovisno o kome se radi. Studentima se omogućuje pretraživanje slobodnih soba i biranje raznih pogodnosti za sobu koju odaberu pri
    zaduženju u dom, a uposlenici ovisno od radnog mjesta raspolažu sa određenim resursima doma.
</h4>

<p>
    Studentski dom
</p>
