@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Studentski dom "Šaban Šaulić"</h2>
    <p class="lead">Dobrodošli na stranicu studentskog doma "Šaban Šaulić"</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rijad Pedljak</h2>
    </div>
    <div class="col-md-4">
        <h2>Dajana Mojsilović</h2>
    </div>
    <div class="col-md-4">
        <h2>Ahmed Oruč</h2>
    </div>
</div>